<%= stylesheet_link_tag 'admin/product_form', media: 'all' %>
<div id='form_container'>
  <%= form_for @admin_news, url: @redirect_path do |form| %>
    <% if @admin_news.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@admin_news.errors.count, "error") %> prohibited this @admin_news from being saved:</h2>
        <ul>
        <% @admin_news.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div><!--End Error Explanation-->
    <% end %>
    <div id= 'form_container'>
      <div class="actions">
        <%= form.submit %>
      </div><!--End Actions-->
      <div class="field">
        <%= form.label t('news.title') %>
        <%= form.text_field :title%>
      </div>
      <div class="field">
        <%= form.label t('news.description') %>
        <%= form.cktext_area :description%>
      </div>
      <div id='picture_container'>
        <%= form.fields_for :pictures do |picture_form|%>
          <div class="field">
            <% if @admin_news.pictures.present?%>
              <%= image_tag(@admin_news.pictures.first.asset.thumb.url) %>
            <% end %><br>
            <%= picture_form.label t('products.asset') %><br>
            <%= picture_form.file_field :asset %>
          </div>
        <%end%>
      </div><!--End Picture Container-->
    </div>
  <%end%>
