<%= stylesheet_link_tag 'navigation', media: 'all' %>
<div id='top_navigation' class='horizontal_navigation troggle_true'>
  <div class= 'shadow_container'>
    <div id='nav_icon_block'>
      <div id= 'nav_icon'>
        <%=image_tag('nav_icon')%>
      </div><!--End Nav Icon-->
    </div><!--End Nav Icon Block-->
    <div id='main_block'>
      <div id='main_icon'>
        <%=image_tag('main_icon')%>
      </div>
      <%= render 'shared/nav_list'%>
    </div><!--END Main Icon Block-->
  </div><!--END shadow container-->
  <div id='language_block'>
    <div id='language'>
      <span><%= t('navigation.language') %></span>
    </div>
  </div>
</div>
