<%= stylesheet_link_tag 'home', media: 'all' %>
<div id='container'>
  <%= render 'shared/navigation'%>
  <%= render 'home_adv'%>
  <div id='sub_container'>
    <%= render 'product_detail'%>
    <%= render 'about_us'%>
    <div id='file_download'>
    </div><!-- End File Download-->
    <%= render 'shared/footer'%>
  </div><!-- End Sub Container-->

</div><!-- End Container-->
