<%= stylesheet_link_tag 'news', media: 'all' %>
<div id='container'>
  <%= render 'shared/navigation'%>
  <%= render 'adv'%>
  <div id='sub_container'>
    <% @news.each do |news|%>
      <div class='layer' data-aos="fade-up">
        <div class='product_pic'>
          <% if news.picture.try(:asset).try(:thumb).try(:url).present?%>
            <%= image_tag(news.picture.try(:asset).try(:thumb).try(:url))%>
          <%end%>
        </div>
        <div class='article_container'>
          <article>
            <div class='article_title_and_description'>
              <h4><%= news.title%></h4>
              <article class='description'><%= news.description.html_safe%></article>
            </div>
            <div class='status_container'>
              <div class='product_link'>
                <div>
                  <%=link_to 'news/' + news.id.to_s do%>
                    <%= svg 'tool_icon'%>
                    <span><%= t('product_deatil.read_more') %></span>
                  <%end%>
                </div>
              </div><!--End Product Link -->
              <div class= 'date'>
                <span>share <%=  news.created_at.strftime('%Y-%m-%d')%></span>
              </div>
            </div>
          </article>
        </div><!--End Article Container-->
      </div><!--End Laryer-->
    <%end%>
    <%= render 'shared/footer'%>
  </div><!--End Sub Container-->
</div><!--Container-->

<script>
  $(document).ready(function(){
    $(window).scroll(function(){
      adjustTopMenu();
    })
  });
  $('.description').dotdotdot();
</script>
<%= javascript_include_tag 'top_navgation', media: 'all' %>
<%= javascript_include_tag 'home_adv_animation', media: 'all' %>
