<%= stylesheet_link_tag 'news', media: 'all' %>
<div id='container'>
  <%= render 'shared/navigation'%>
  <%= render 'adv'%>
  <div id='sub_container'>
    <div class='layer' data-aos="fade-up">
      <div class='product_pic'>
        <%= image_tag('tmp_product_picture/asset_1.png')%>
      </div>
      <div class='article_container'>
        <article>
          <h3>工具機</h3>
          <p>位於新北市土城區，秉持著對品質的堅持，以人為本，我們提供更客製、專業、全面的服務，專營各式機母、機具，並提供完整的售後服務教學，滿足您的所有需求，是中小企業與加工廠最好的夥伴。<p>
            <div class='product_link'>
              <div>
                <a href='#'>
                  <%= svg 'tool_icon'%>
                  <span><%= t('product_deatil.read_more') %></span>
                </a>
              </div>
            </div><!--End Product Link -->
        </article>
      </div><!--End Article Container-->
    </div><!--End Laryer-->

    <!--***************************************Example**********************************************-->
    <div class='layer' data-aos="fade-up">
      <div class='product_pic'>
        <%= image_tag('tmp_product_picture/asset_1.png')%>
      </div>
      <div class='article_container'>
        <article>
          <h3>工具機</h3>
          <p>位於新北市土城區，秉持著對品質的堅持，以人為本，我們提供更客製、專業、全面的服務，專營各式機母、機具，並提供完整的售後服務教學，滿足您的所有需求，是中小企業與加工廠最好的夥伴。<p>
            <div class='product_link'>
              <div>
                <a href='#'>
                  <%= svg 'tool_icon'%>
                  <span><%= t('product_deatil.read_more') %></span>
                </a>
              </div>
            </div><!--End Product Link -->
        </article>
      </div><!--End Article Container-->
    </div><!--End Laryer-->
    <div class='layer' data-aos="fade-up">
      <div class='product_pic'>
        <%= image_tag('tmp_product_picture/asset_1.png')%>
      </div>
      <div class='article_container'>
        <article>
          <h3>工具機</h3>
          <p>位於新北市土城區，秉持著對品質的堅持，以人為本，我們提供更客製、專業、全面的服務，專營各式機母、機具，並提供完整的售後服務教學，滿足您的所有需求，是中小企業與加工廠最好的夥伴。<p>
            <div class='product_link'>
              <div>
                <a href='#'>
                  <%= svg 'tool_icon'%>
                  <span><%= t('product_deatil.read_more') %></span>
                </a>
              </div>
            </div><!--End Product Link -->
        </article>
      </div><!--End Article Container-->
    </div><!--End Laryer-->
    <div class='layer' data-aos="fade-up">
      <div class='product_pic'>
        <%= image_tag('tmp_product_picture/asset_1.png')%>
      </div>
      <div class='article_container'>
        <article>
          <h3>工具機</h3>
          <p>位於新北市土城區，秉持著對品質的堅持，以人為本，我們提供更客製、專業、全面的服務，專營各式機母、機具，並提供完整的售後服務教學，滿足您的所有需求，是中小企業與加工廠最好的夥伴。<p>
            <div class='product_link'>
              <div>
                <a href='#'>
                  <%= svg 'tool_icon'%>
                  <span><%= t('product_deatil.read_more') %></span>
                </a>
              </div>
            </div><!--End Product Link -->
        </article>
      </div><!--End Article Container-->
    </div><!--End Laryer-->
    <div class='layer' data-aos="fade-up">
      <div class='product_pic'>
        <%= image_tag('tmp_product_picture/asset_1.png')%>
      </div>
      <div class='article_container'>
        <article>
          <h3>工具機</h3>
          <p>位於新北市土城區，秉持著對品質的堅持，以人為本，我們提供更客製、專業、全面的服務，專營各式機母、機具，並提供完整的售後服務教學，滿足您的所有需求，是中小企業與加工廠最好的夥伴。<p>
            <div class='product_link'>
              <div>
                <a href='#'>
                  <%= svg 'tool_icon'%>
                  <span><%= t('product_deatil.read_more') %></span>
                </a>
              </div>
            </div><!--End Product Link -->
        </article>
      </div><!--End Article Container-->
    </div><!--End Laryer-->
    <div class='layer' data-aos="fade-up">
      <div class='product_pic'>
        <%= image_tag('tmp_product_picture/asset_1.png')%>
      </div>
      <div class='article_container'>
        <article>
          <h3>工具機</h3>
          <p>位於新北市土城區，秉持著對品質的堅持，以人為本，我們提供更客製、專業、全面的服務，專營各式機母、機具，並提供完整的售後服務教學，滿足您的所有需求，是中小企業與加工廠最好的夥伴。<p>
            <div class='product_link'>
              <div>
                <a href='#'>
                  <%= svg 'tool_icon'%>
                  <span><%= t('product_deatil.read_more') %></span>
                </a>
              </div>
            </div><!--End Product Link -->
        </article>
      </div><!--End Article Container-->
    </div><!--End Laryer-->
    <div class='layer' data-aos="fade-up">
      <div class='product_pic'>
        <%= image_tag('tmp_product_picture/asset_1.png')%>
      </div>
      <div class='article_container'>
        <article>
          <h3>工具機</h3>
          <p>位於新北市土城區，秉持著對品質的堅持，以人為本，我們提供更客製、專業、全面的服務，專營各式機母、機具，並提供完整的售後服務教學，滿足您的所有需求，是中小企業與加工廠最好的夥伴。<p>
            <div class='product_link'>
              <div>
                <a href='#'>
                  <%= svg 'tool_icon'%>
                  <span><%= t('product_deatil.read_more') %></span>
                </a>
              </div>
            </div><!--End Product Link -->
        </article>
      </div><!--End Article Container-->
    </div><!--End Laryer-->
    <!--*********************************End Example***************************-->
    <%= render 'shared/footer'%>
  </div><!--End Sub Container-->
</div><!--Container-->

<script>
  $(document).ready(function(){
    $(window).scroll(function(){
      adjustTopMenu();
    })
  });
</script>
<%= javascript_include_tag 'top_navgation', media: 'all' %>
<%= javascript_include_tag 'home_adv_animation', media: 'all' %>
