<form class="form-wrapper">
  <input type="text" id="search" placeholder="Search for..." required>
  <input type="submit" value="go" id="submit">
</form>
<div class='inline_link'>
  <%= link_to t('products.create'), new_admin_product_category_product_path(params[:product_category_id]), class: 'btn info'%>
  <%= link_to t('previous_page'), admin_product_categories_path, class: 'btn warning'%>
  <%= render('admin/shared/pagenate')%>
</div>
<table>
  <tr>
    <th><%= t('products.sku')%></th>
    <th><%= t('products.name')%></th>
    <th><%= t('aciton.label')%></th>
  </tr>
  <% @admin_products.each do |product|%>
    <tr>
      <th><%= product.sku%></th>
      <th><%= product.name%></th>
      <th>
        <%= link_to t('products.update'), admin_product_category_product_path(params[:product_category_id], product.id), class: 'btn success'%>
        <%= link_to t('products.delete'), admin_product_category_product_path(params[:product_category_id], product.id), method: 'delete', class: 'btn danger'%>
      </th>
    </tr>
  <%end%>
</table>
