<%= form_for @product, url: admin_products_path do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this @product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>
  <%= form.fields_for :product_spec do |spec_form| %>
    <% ['maximum_diameter_grab_items',
        'distance_between_centers',
        'swing_over_bed',
        'swing_over_cross_slide',
        'taper_of_spindle_bore',
        'spindle_bore',
        'step_of_spindle_speeds',
        'range_of_spindle_speeds',
        'range_of_inch_threads',
        'range_of_metric_theads',
        'top_slide_travel',
        'cross_slide_travel',
        'tailstock_quil_travel',
        'taper_of_tailstock_quill',
        'motor',
        'overall_dimension',
        'net_weight'].each do |column|%>
      <div class="field">
        <%= form.label column.to_sym %>
        <%= spec_form.text_field column.to_sym %>
      </div>
    <%end%>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
