<%= stylesheet_link_tag 'admin/product_form', media: 'all' %>
<div id='form_container'>
  <%= form_for @product_category, url: @redirect_path do |form| %>
    <% if @product_category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product_category.errors.count, "error") %> prohibited this @product_category from being saved:</h2>
        <ul>
        <% @product_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div><!--End Error Explanation-->
    <% end %>
    <div id= 'form_container'>
      <div class="actions">
        <%= form.submit class: 'btn info' %>
      </div><!--End Actions-->
      <div class="field">
        <%= form.label t('news.title') %>
        <%= form.text_field :title%>
      </div>
      <div class="field">
        <%= form.label t('news.description') %>
        <%= form.cktext_area :description%>
      </div>
    </div>
  <%end%>
</div>
