<h3><%= t('navigation.product_categories')%></h3>
<form class="form-wrapper">
  <input type="text" id="search" placeholder="Search for..." required>
  <input type="submit" value="go" id="submit">
</form>
<%= link_to t('product_category.create'), new_admin_product_category_path, class: 'btn info'%>

<table>
  <tr>
    <th><%= t('product_category.title')%></th>
    <th><%= t('product_category.description')%></th>
    <th><%= t('aciton.label')%></th>
  </tr>
  <% @product_category.each do |product_category|%>
    <tr>
      <th><%= link_to t(product_category.title), admin_product_category_products_path(product_category.id)%></th>
      <th><%= product_category.description.html_safe%></th>
      <th>
        <%= link_to t('action.update'), admin_product_category_path(product_category.id), class: 'btn success'%>
        <%= link_to t('action.delete'), admin_product_category_path(product_category.id), method: 'delete', class: 'btn danger'%>
      </th>
    </tr>
  <%end%>
</table>
