<%= stylesheet_link_tag 'side_bar', media: 'all' %>
<div id='side_bar'>
  <ul>
    <li><%=link_to t('navigation.products'), admin_products_path%></li>
    <li><%=link_to t('navigation.faq'), admin_faq_category_index_path%></li>
    <li><%=link_to t('navigation.catalogs'), admin_product_catelogs_path%></li>
    <li><%=link_to t('navigation.news'), admin_news_index_path%></span></a></li>
  </ul>
</div><!--End of Side Bar-->
