<%= stylesheet_link_tag 'side_bar', media: 'all' %>
<div id='side_bar'>
  <ul>
    <li><a href="#"><span><%= t('navigation.aboutUs') %></span></a></li>
    <li><a href="#"><span><%= t('navigation.products') %></span></a></li>
    <li><a href="#"><span><%= t('navigation.faq') %></span></a></li>
    <li><a href="#"><span><%= t('navigation.catalogs') %></span></a></li>
    <li><a href="#"><span><%= t('navigation.news') %></span></a></li>
    <li><a href="#"><span><%= t('navigation.contactUs') %></span></a></li>
  </ul>
</div><!--End of Side Bar-->
