<!DOCTYPE html>
<html>
  <head>
    <title>CreateSuccess</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'admin/application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'admin/application', media: 'all' %>
  </head>

  <body>
    <div id='container'>
      <%= render 'admin/shared/side_bar'%>
      <div id='main_container'>
        <%= yield %>
      </div><!-- End Main Container-->
    </div><!-- End Container-->
  </body>
</html>
