<!DOCTYPE html>
<html>
  <head>
    <title>CreateSuccess</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
