<!DOCTYPE html>
<html>
  <head>
    <title>CreateSuccess</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/1.7.4/jquery.dotdotdot.js', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
