<!DOCTYPE html>
<html>
  <head>
    <title>CreateSuccess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css'%>
    <%= javascript_include_tag 'https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js'%>
  </head>

  <body onscroll='adjustTopMenu();'>
    <%= yield %>
  </body>
</html>
