<%= stylesheet_link_tag 'faq', media: 'all' %>
<div id='container'>
  <%= render 'shared/navigation'%>
  <div id='sub_container'>
    <div class='article_container'>
      <h3><%= @category_name%></h3>
        <% @faq_articles.each do |article| %>
          <div class='article_block'>
            <div class='layer'>
              <div class='article_title'>
                <span><%= article.title%></span>
              </div>
              <div class='article_paragraph'>
                <%=  article.description.try(:html_safe)%>
              </div>
              <div class='article_date'>
                <span>share <%=  article.created_at.strftime('%Y-%m-%d')%></span>
              </div>
            </div><!--End Layer Block-->
          </div><!--End Article Block-->
       <%end%>
    </div><!--End Article Container-->
    <div id='previous_page'>
      <a href='/faq'>
        <div class='icon_container'>
          <%= svg('tool_icon')%>
        </div>
        <span>
          <%=t('previous_page')%>
        </span>
      </a>
    </div><!-- End Read More-->
    <%= render 'shared/footer'%>
  </div><!--End Sub Container-->
</div><!--Container-->
<%= javascript_include_tag 'top_navgation', media: 'all' %>
<script>
  $(document).ready(function(){
    $(window).scroll(function(){
      adjustTopMenu();
    })
    $('.article_block').click(
      function() {
        $('.article_block .article_paragraph p').hide();
        $('.article_block').removeClass( 'toggle' );
        $(this).addClass( 'toggle' );
        $(this).find('.article_paragraph p').slideDown('slow');
    });
  });
</script>
